{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h3>Ajout d'une étape au voyage:</h3><br>
    
            {{ form_start(circuitform) }}
            {{ form_widget(circuitform) }}
            {{ form_end(circuitform) }}
            
            
{% endblock %} {# main #}
