{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h3>Nous contacter :</h3><br>
    
            {{ form_start(contactform) }}
            {{ form_widget(contactform) }}
            {{ form_end(contactform) }}
   
    
    
{% endblock %} {# main #}