{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h3>Merci de réserver ce voyage avec nous</h3><br>
    <p>Voici un récapitulatif du séjour que vous êtes sur le point de réserver:<br></p>


    <p>Départ de {{ circuit.villeDepart }} pour {{ circuit.dureeCircuit }} j. de voyage à travers le {{ circuit.paysDepart }}, pour terminer à {{ circuit.villeArrivee }}.</p>

    <p>Pour continuer votre réservation, merci de remplir le formulaire suivant<br></p>  

  
    
     
    
    
{% endblock %} {# main #}